configuration{
    show-icons: true;
    terminal: "foot";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
}

window {
    width: 600;
    height: 360px;
    border: 3px;
}

@import "~/.cache/wal/colors-rofi-dark"