@import "colors-waybar.css";

* {
    border-radius: 8px;
    border: none;
    font-family:
        azuki_font,
        JetBrains Mono,
        Arial,
        sans-serif;
    font-size: 12px;
    min-height: 0px;
    margin: 0;
    color: @foreground;
}

window#waybar {
    background-color: transparent;
}

/* only per-monitor */
window.eDP-1 * {
    font-size: 12px;
}
window.DP-1 * {
    font-size: 10px;
}

tooltip {
    background: @background;
}

tooltip label {
    color: @foreground;
}

#tray,
#mpd,
#window,
#workspace,
#gamemode {
    padding: 0px 4px;
}

#language,
#clock,
#battery,
#cpu,
#memory,
#backlight,
#network,
#pulseaudio,
#mode,
#custom-weather,
#language {
    padding: 0px 4px;
    background-color: @background;
    border-radius: 0px;
}

#language {
    border-radius: 8px 0px 0px 8px;
}

#clock {
    border-radius: 0px 8px 8px 0px;
}

#mpd {
    background-color: @background;
}

#window {
    margin-left: 6px;
    background-color: @background;
}

#tray {
    margin-right: 9px;
    background-color: @background;
}

#privacy,
#gamemode {
    margin-left: 6px;
    padding: 0px 8px;
    background-color: @background;
}

#mpris {
    padding: 0px 8px;
    background-color: @background;
}

#workspaces {
    background-color: @background;
}

#workspaces button {
    min-width: 1px;
    min-height: 1px;
}

#workspaces button.focused{
    background-color: @color1;
    color: @color0;
}

/* battery */
#battery {
    color: black;
}

#battery.charging {
    background-color: #26a65b;
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
